<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
<body>
    <h1 class='text-center'>The Quotes</h1>
    <hr>
<div class="container col-lg-6 col-md-8 col-sm-12">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Upload Authors</h3>
    <input type="file" name="myfile">
    <button class="btn btn-block btn-primary mt-1 " type="submit">Upload</button>
  </form>
  <hr>
  <form method="post" action='/' enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Upload Quotes</h3>
    <input type="file" name="myquotes">
    <button class="btn btn-block btn-primary mt-1" type="submit">Upload</button>
  </form>
  
</div>
</body>
</html>